{% extends "../partials/layout.njk" %}

{% set pageTitle = "Privacy policy - " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Privacy policy</h1>

      <p class="govuk-body">
        By using the 'Send money to someone in prison' service you agree to this privacy policy and to our terms
        and conditions. Please read them carefully.
      </p>

      <h2 class="govuk-heading-s">Purpose</h2>

      <p class="govuk-body">
        This privacy policy sets out the standards that you can expect from His Majesty's Prison and Probation
        Service (HMPPS) when we request or hold personal information ('personal data') about you; how you can get
        access to a copy of your personal data; and what you can do if you think the standards are not being met.
      </p>

      <p class="govuk-body">
        HMPPS is an Executive Agency/Arm's Length Body of the Ministry of Justice (MoJ). MoJ is the data controller
        for the personal information we hold. HMPPS collects and processes personal data for the exercise of its
        own and associated public functions. These include: providing safe and secure prison services, including
        those related to the management and rehabilitation of offenders.
      </p>

      <h2 class="govuk-heading-s">About personal information</h2>

      <p class="govuk-body">
        Personal data is information about you as an individual. It can be your name, address or telephone number.
        It can also include information about the payments you make and the prisoner you are paying.
      </p>

      <p class="govuk-body">
        We know how important it is to protect customers' privacy and to comply with data protection laws. We will
        safeguard your personal data and will only disclose it where it is lawful to do so, or with your consent.
      </p>

      <h2 class="govuk-heading-s">Types of personal data we process</h2>

      <p class="govuk-body">
        We only process personal data that is relevant for the services we are providing to you. If you make a
        payment, this includes:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name, postal address, email address, payment card details, your IP address and details about your
          contact in prison</li>
      </ul>

      <p class="govuk-body">
        If you provide feedback to us, this includes:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your email address or other contact details you give us</li>
        <li>any personal information you include in questions, queries or feedback you leave</li>
      </ul>

      <p class="govuk-body">
        Information about how you use the site is collected using cookies and page tagging techniques (Google
        Analytics). It does not contain any personal data and is only collected if you
        <a class="govuk-link" href="/cookies">consent</a> to this. It is shared with the Government Digital Service.
      </p>

      <h2 class="govuk-heading-s">Purpose of processing and the lawful basis for the process</h2>

      <p class="govuk-body">
        We collect personal data so that you can safely send money digitally to someone in prison. If we don't have
        all the personal data we ask for, the payment can not be processed.
      </p>

      <p class="govuk-body">
        It helps us to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>complete the payment transactions</li>
        <li>prevent, detect and investigate suspicious payment</li>
        <li>prevent, detect and investigate suspected crime or unlawful activity</li>
        <li>respond to your feedback if you have asked us to</li>
      </ul>

      <p class="govuk-body">
        The data you give us will be monitored to prevent and detect financial fraud, money laundering and other
        criminal activity.
      </p>

      <p class="govuk-body">
        The data is processed in accordance with the General Data Protection Regulation and Data Protection Act
        2018 and the lawful basis for processing is substantial public interest.
      </p>

      <h2 class="govuk-heading-s">Who the information may be shared with</h2>

      <p class="govuk-body">
        We sometimes need to share the personal information we process with the individual themselves and also with
        other organisations. Where this is necessary we will comply with all aspects of the data laws. The
        organisations we share your personal information with are:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://www.payments.service.gov.uk/">GOV.UK Pay</a> and
          <a class="govuk-link" href="https://www.worldpay.com">WorldPay</a> if the payment is made by debit card.
          This facilitates making a payment.
          See the <a class="govuk-link" href="https://www.payments.service.gov.uk/privacy">privacy policy</a>.
        </li>
        <li>
          <a class="govuk-link" href="https://www.notifications.service.gov.uk/">GOV.UK Notify</a> to send emails.
          See the <a class="govuk-link" href="https://www.notifications.service.gov.uk/privacy">privacy policy</a>.
        </li>
        <li>
          <a class="govuk-link" href="https://www.zendesk.com/">Zendesk</a> to handle any feedback that you leave.
          See the <a class="govuk-link" href="https://www.zendesk.com/company/terms/">terms &amp; conditions</a>
          attached to this service.
        </li>
        <li>
          Selected individuals employed in
          <a class="govuk-link" href="https://www.justice.gov.uk/about/hmps/contracted-out">contracted-out prisons</a>.
        </li>
      </ul>

      <p class="govuk-body">
        We may also share your data with the police and other law enforcement agencies where criminal or unlawful
        activity is suspected.
      </p>

      <h2 class="govuk-heading-s">Details of transfers to third country and safeguards</h2>

      <p class="govuk-body">
        Data collected is stored within the UK and Ireland. However, due to the global nature of the internet, data
        may transit through other countries outside of the European Economic Area (EEA) while going to and from the
        database. Data is not stored in a non-EEA country.
      </p>

      <p class="govuk-body">
        Feedback about the service may be stored outside of the EEA, where it could be viewed by our staff or
        suppliers. By submitting your personal data, you agree to this.
      </p>

      <h2 class="govuk-heading-s">Retention period for information collected</h2>

      <p class="govuk-body">
        Data is retained for seven years in accordance with HM Prison and Probation Service
        <a class="govuk-link" href="https://www.justice.gov.uk/downloads/offenders/psipso/psi-2018/psi-04-2018-records-information-management-retention-policy.pdf">retention policy</a>.
      </p>

      <h2 class="govuk-heading-s">Access to personal information</h2>

      <p class="govuk-body">
        You can find out if we hold any personal data about you by making a 'subject access request'. This process
        is set out in the
        <a class="govuk-link" href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">Ministry of Justice personal information charter</a>.
      </p>

      <h2 class="govuk-heading-s">When we ask you for personal data</h2>

      <p class="govuk-body">
        We promise to inform you why we need your personal data and ask only for the personal data we need and not
        collect information that is irrelevant or excessive;
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>You can withdraw consent at any time, where relevant;</li>
        <li>You can lodge a complaint with the supervisory authority;</li>
        <li>We will protect it and make sure no unauthorised person has access to it;</li>
        <li>Only where appropriate and necessary share it with other organisations for legitimate purposes;</li>
        <li>Make sure we don't keep it longer than is necessary;</li>
        <li>Not make your personal data available for commercial use without your consent; and</li>
        <li>Consider your request to correct, stop processing or erase your personal data.</li>
      </ul>

      <p class="govuk-body">
        You can get more details on:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Agreements we have with other organisations for sharing information;</li>
        <li>Circumstances where we can pass on personal information without telling you, for example, to help with
          the prevention or detection of crime or to produce anonymised statistics;</li>
        <li>Our instructions to staff on how to collect, use or delete your personal information;</li>
        <li>How we check that the information we hold is accurate and up-to-date; and</li>
        <li>How to make a complaint;</li>
      </ul>

      <p class="govuk-body">
        For more information about the above issues, please contact:
      </p>
      <p class="govuk-body">
        The Data Protection Officer<br>
        Ministry of Justice<br>
        3rd Floor, Post Point 3.20<br>
        10 South Colonnades<br>
        Canary Wharf<br>
        London<br>
        E14 4PU
      </p>
      <p class="govuk-body">
        Email: <a class="govuk-link" href="mailto:privacy@justice.gov.uk">privacy@justice.gov.uk</a>
      </p>

      <p class="govuk-body">
        For more information on how and why your information is processed please see the information provided when
        you accessed our services or were contacted by us.
      </p>

      <h2 class="govuk-heading-s">Complaints</h2>

      <p class="govuk-body">
        When we ask you for information, we will keep to the law. If you consider that your information has been
        handled incorrectly, you can contact the Information Commissioner for independent advice about data
        protection. You can contact the Information Commissioner at:
      </p>
      <p class="govuk-body">
        Information Commissioner's Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire<br>
        SK9 5AF
      </p>
      <p class="govuk-body">
        Telephone: 0303 123 1113<br>
        <a class="govuk-link" href="https://ico.org.uk/">www.ico.org.uk</a>
      </p>

    </div>
  </div>

{% endblock %}
